*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
.card p{
    border-bottom: 1px solid black;
    font-size: 22px;
}
.header{
    border-bottom: 1px solid black;
}
.header p{
    font-size: 2rem;
    padding: 10px;
}